@media screen and (min-width: 1px) {
  #wrap {
    min-width: auto;
    height: auto;
  }
  #wrap #logo {
    position: absolute;
  }
  #wrap .subtitle {
    position: absolute;
  }
  #wrap .page {
    min-width: auto;
    min-height: auto;
  }
  #wrap .main {
    position: relative;
    width: auto;
    margin: 0 20px;
    padding: 125px 0 20px;
    overflow: auto;
  }

  #top .main .status li {
    width: 100%;
  }

  #play {
    position: fixed !important;
  }
  #play .video {
    width: 100%;
  }
  #play .timer {
    top: 20px;
    right: 20px;
  }

  #finish {
    min-height: auto;
  }
  #finish .end {
    margin: 0 20px;
    text-align: left;
  }

  #instruction {
    width: 100%;
    padding-top: 0;
  }
  #instruction .main {
    position: static;
    margin-top: 125px;
    padding-top: 20px;
  }
}
