@media screen and (min-width: 1px) {
  #wrap {
    min-width: auto;
    height: auto;
    min-height: auto;
  }
  #wrap #logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 220px;
    height: 50px;
  }
  #wrap .page {
    min-width: auto;
  }
  #wrap .main {
    position: relative;
    width: auto;
    margin: 0 20px;
    overflow: auto;
  }
  #wrap .mic {
    position: absolute;
    text-align: center;
  }
  #wrap .mic .icon {
    position: absolute;
    bottom: 66px;
    left: 50%;
    transform: translateY(0) translateX(-50%);
  }
  #wrap .mic p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  #video {
    position: static;
    min-width: auto;
    min-height: auto;
    display: none;
  }
  #video ul {
    width: 100%;
    overflow: auto;
  }

  #top .main {
    padding: 100px 0 40px;
  }
  #top .main .part {
    padding-top: 25px;
  }
  #top .watch {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  #top .howto {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  #watch h2 {
    top: 80px;
    left: 20px;
  }
  #watch .howto {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  #play {
    position: fixed !important;
  }
  #play h2 {
    top: 80px;
    left: 20px;
  }
  #play .timer {
    top: 88px;
    right: 20px;
  }
  #play .mic {
    bottom: 40px;
    left: 0;
    width: 100%;
  }
  #play .mic p {
    text-align: center;
  }

  #finish {
    min-height: auto;
  }
  #finish .circle {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 356px;
    height: 356px;
    padding: 100px 0 0 26px;
    border-radius: 178px;
  }
  #finish .top {
    bottom: 20px;
    left: 20px;
  }

  #instruction {
    height: calc(100% - 80px);
    padding-top: 80px;
  }
  #instruction h2 {
    position: fixed;
    top: 80px;
    left: 20px;
  }
  #instruction .main {
    position: static;
  }
  #instruction .main .mic {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 25px 0;
    transform: none;
    text-align: center;
  }
  #instruction .main .mic p {
    text-align: center;
  }
  #instruction .main .arrow-left {
    position: static;
    display: block;
    margin: 40px 0 20px;
  }
}
