@charset "utf-8";

$white: #F7F7F7;
$black: #222226;
$blue: #0082C8;
$mw: 1280px;
$mh: 800px;

@media screen and (min-width: 1px) {
	#wrap {
		min-width: auto;
		height: auto;
		
		#logo {
			position: absolute;
		}
		.subtitle {
			position: absolute;
		}
		.page {
			min-width: auto;
			min-height: auto;
		}
		.main {
			position: relative;
			width: auto;
			margin: 0 20px;
			padding: 125px 0 20px;
			overflow: auto;
		}
	}
	
	#top {
		.main {
			.status {
				li {
					width: 100%;
				}
			}
		}
	}
	
	#play {
		position: fixed !important;
		
		.video {
			width: 100%;
		}
		.timer {
			top: 20px;
			right: 20px;
		}
	}
	
	#finish {
		min-height: auto;
		
		.end {
			margin: 0 20px;
			text-align: left;
		}
	}
	
	#instruction {
		width: 100%;
		padding-top: 0;
		
		.main {
			position: static;
			margin-top: 125px;
			padding-top: 20px;
		}
	}
}
